<div class= "container">
  <h1>Stupid Coaching</h1>

  <%= @ask %>
  <h4><em>-You</em></h4>

  <br>
  <br>

  <%= @answer %>
  <h4><em>-Your Coach</em></h4>

  <%= link_to "Ask a new question", ask_path %>
</div>
