// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn{
  color: #fff;
  display: inline-block;
  background-color: #007bff;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  border-color: #007bff;
}

.container{
  margin: 20px, 20px;
}
